/* FUENTES */
@font-face {
  font-family: 'swFont';
  src: url('swdg.ttf');
}

@font-face {
  font-family: 'Kanit';
  src: url('Kanit-Regular.ttf');
}

/* BODY */

body {
  min-width: 350px;
  min-height: 1000px;
  background-color: black;
  color: #ffe81f;
  position: relative;
  margin: 0;
  padding: 0;
  padding-bottom: 100px;
  font-family: 'Kanit', sans-serif;
}

.separador {
  height: 3px;
  width: 100%;
  background: linear-gradient(to right, black, #ffe81f, black);
  margin: 40px auto;
}

.oculto {
  display: none !important;
}

img {
  width: 100%;
  height: auto;
  aspect-ratio: 16/9;
}

h1,
h3,
h4,
td,
th,
button {
  text-align: center;
  font-family: 'Kanit', sans-serif;
}

/* CABECERA */

header {
  display: flex;
  flex-direction: column;
  align-content: center;
  flex-wrap: wrap;
  align-items: center;
}

main {
  max-width: 1440px;
  margin: 0 auto 60px;
}

h1 {
  font-family: 'swFont', sans-serif;
  font-size: 2em;
  font-weight: normal;
  text-shadow: 0 0 20px #ffe91f6a;
}

h3 {
  font-family: 'swFont', sans-serif;
  font-size: 1em;
  font-weight: normal;
}

/* MAIN */

/* SECCION BOTONES */

.botones {
  margin: 40px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

button {
  color: #ffe81f;
  font-size: 18px;
  background-color: #1D1E1F;
  border-radius: 6px;
  border: 1px solid #333232;
  padding: 0 5px;
  margin: 5px;
}

button:hover {
  text-shadow: 0 0 4px #ffe81f;
  transform: scale(1.2);
}

/* SECCION SELEC */

.contSelec {
  display: flex;
  justify-content: center;
  margin: 20px auto;
  align-items: center;
}

.contSelec>* {
  margin: 0 15px;
}

input {
  max-width: 160px;
}

/* SECCION TABLA */

.contTabla {
  width: 85%;
  margin: 0 auto;
}

table {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
}

thead {
  height: 60px;
}

thead>tr>th>span {
  cursor: pointer;
  padding: 4px;
  font-size: 18px;
}

thead>tr>th:first-of-type {
  text-align: end;
}

thead>tr>th:last-of-type {
  text-align: start;
}

tbody {
  display: flex;
  width: 300%;
  justify-content: space-around;
  flex-wrap: wrap;
}

tbody>tr {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 1% 25px;
  background-color: #1D1E1F;
  border-radius: 6px;
  border: 1px solid #333232;
  max-width: 550px;
}

td {
  padding: 3%;
  text-align: center;
}

.single {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #1D1E1F;
  border-radius: 6px;
  border: 1px solid #333232;
}

.toTop {
  display: block;
  margin: 0 auto;
}

/* PIE DE PAGINA */

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
  background-color: #1D1E1F;
}

/* CAMBIOS A 768px DE ANCHO */

@media screen and (min-width: 768px) {
  h1 {
    font-size: 40px;
  }

  .contBotones {
    max-width: 800px;
    margin: 0 auto;
  }

  tbody>tr {
    min-width: 550px;
  }
}