@font-face {
  font-family: 'swFont';
  src: url('swdg.ttf');
}

@font-face {
  font-family: 'Kanit';
  src: url('Kanit-Regular.ttf');
}

body {
  min-width: 350px;
  min-height: 600px;
  max-width: 1440px;
  background-color: black;
  color: #ffe81f;
  position: relative;
  margin: 0;
  padding: 0;
  padding-bottom: 100px;
  font-family: 'Kanit', sans-serif;
}

.separador {
  height: 3px;
  width: 100%;
  background: linear-gradient(to right, black, #ffe81f, black);
}

.oculto {
  display: none !important;
}

img {
  width: 100%;
  height: auto;
  aspect-ratio: 16/9;
}

h1,
h3,
h4,
td,
th,
button {
  text-align: center;
  font-family: 'Kanit', sans-serif;
}

h1 {
  font-family: 'swFont', sans-serif;
  font-size: 2em;
  font-weight: normal;
}

h3 {
  font-family: 'swFont', sans-serif;
  font-size: 1em;
  font-weight: normal;
}


header {
  display: flex;
  flex-direction: column;
  align-content: center;
  flex-wrap: wrap;
  align-items: center;
}

.botones {
  margin: 40px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

button,
.contSelec>p {
  color: #ffe81f;
  background-color: black;
  border: none;
  padding: 0 5px;
  margin: 5px;
}

button:hover {
  text-shadow: 0 0 4px #ffe81f;
  transform: scale(1.2);
}

.contSelec {
  display: flex;
  justify-content: center;
  margin: 20px auto;
  align-items: center;
}

.contSelec>* {
  margin: 0 15px;
}

input {
  max-width: 160px;
}

/* Table properties */
.contTabla {
  width: 80%;
  margin: 0 auto;
}

table {
  table-layout: fixed;
  width: 100%;
}

thead {
  height: 60px;
}

thead>tr>th {
  cursor: pointer;
  padding: 4px;
  font-size: 18px;
  width: 33%;
}

tbody {
  margin: 0 5%;
  display: grid;
  width: 300%;
}

tbody>tr {
  grid-column: 1;
  grid-row: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  margin-bottom: 15px;
  background-color: #1D1E1F;
}

td {
  padding: 3%;
  text-align: center;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
}

@media screen and (min-width: 768px) {
  h1 {
    font-size: 40px;
    text-shadow: 0 0 20px #ffe91f6a;
  }

  td {
    padding: 3% 5%;
  }
}