body {
  min-width: 350px;
  min-height: 600px;
  max-width: 1440px;
  background-color: black;
  color: yellow;
  position: relative;
  margin: 0;
  padding: 0;
  padding-bottom: 100px;
}

.oculto {
  display: none;
}

img {
  width: 100%;
  height: auto;
  aspect-ratio: 16/9;
}

h1,
h3,
.botones {
  text-align: center;
}

h1 {
  font-size: 40px;
}

header {
  display: flex;
  flex-direction: column;
  align-content: center;
  flex-wrap: wrap;
  align-items: center;
}

thead {
  height: 60px;
}
th {
  cursor: pointer;
  padding: 4px;
  font-size: 18px;
  width: 33%;
}

.contTabla {
  
  width: 100%;
}
.botones {
  margin-bottom: 60px;
}

button {
  background-color: bisque;
  font-weight: bold;
  padding: 0 5px;
  margin: 5px;
}

.contSelec {
  display: flex;
  justify-content: center;
  margin: 0 auto;
}



input {
  max-width: 200px;
}
tbody {
  margin: 0 5%;
}
tbody > tr {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 300%;
  margin-bottom: 15px;
}
h4 {
  font-size: 20px;
  margin: 0;
}
td {
  padding: 3%;
  text-align: center;
}
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
}
@media screen and (min-width: 768px) {
  h1 {
    font-size: 50px;
  }
  td {
    padding: 3% 5%;
  }
}

